<a href="<%= url %>" class="rounded-full" <%= tag.attributes(data: data_attributes.merge(hotkey_data_attributes)) %>>
  <div class="<%= icon_box_classes %>">
    <div class="flex items-center justify-center *:size-full" style="width: 50%; height: 50%">
      <%= icon_content %>
    </div>
  </div>
</a>
